:root{
    --white: rgb(255, 255, 255);
    --rich-black: rgba(0, 23, 31, 0.6);
    --prussian-blue: rgba(0, 52, 89, 0.4);
    --cerulean: rgb(0, 126, 167);
    --picton-blue: rgb(0, 168, 232);
    --picton-blue-transparent: rgba(0, 168, 232, 0.5)
}
body{
    font-family: 'Orbitron', sans-serif;
}
#title{
    bottom: 0;
    right: 0;
    position: absolute;
    color: var(--picton-blue);
    margin-right: 15px;
    padding: 5px;
    text-align: right;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid var(--picton-blue-transparent);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
#gui{
    width:400px;
    height: 100vh;
    background-color: var(--rich-black);
    position: absolute;
    color: var(--picton-blue);
    border-right: 2px solid var(--picton-blue);
    box-shadow: 15px 0px 21px 5px var(--picton-blue-transparent);
    -webkit-box-shadow: 15px 0px 21px 5px var(--picton-blue-transparent);
    -moz-box-shadow: 15px 0px 21px 5px var(--picton-blue-transparent);
    padding: 15px;
    overflow: scroll;
}
.gui-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}
.gui-button {
    box-shadow: 0px 0px 2px 3px var(--picton-blue-transparent);
    background:linear-gradient(to bottom, var(--prussian-blue) 5%, var(--rich-black) 100%);
    background-color:var(--prussian-blue);
    border-radius:10px;
    border:1px solid var(--picton-blue);
    /* display:inline-block; */
    cursor:pointer;
    color:#ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size:19px;
    padding:15px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    width: 350px;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gui-button:hover {
    background: linear-gradient(to bottom, var(--rich-black) 5%, var(--prussian-blue) 100%);
    background-color:var(--rich-black);
}
.gui-button:active {
    position:relative;
    top:1px;
}
.button-img{
    max-width: 100px;
    margin-right: 20px;
}
.img-name-button{
    display: flex;
    align-items: center;
}
svg{
    fill: var(--white);
    width: 30px;
    height: 30px;
}
.links-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links{
    text-decoration: none;
    color: var(--picton-blue);
    font-family: 'Orbital', sans-serif;
    display: flex;
    align-items: center;
    padding: 5px;
}
.links > svg{
    margin-right: 5px;
    fill: var(--picton-blue);
}
